html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #0E131F;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background:transparent !important;
    padding-top:15px;
    border-bottom: solid 0.5px lightgray;
}

.navbar .nav-link{
    color:#E5E5E5 !important;
}

.navbar-brand img {
    height: 64px;
    width:64px;
}

.hero-div{
    background:lightgrey;
    height: 48vh;
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-text {
    font-family: 'Playball', cursive;
    font-size: 64px;
    color: #778fc7;
 
}

.hero-subtitle {
    font-size: 24px;
    color:#E5E5E5;
    margin-bottom: 40px;
    font-style: italic;
    font-weight:300;
}

.btn-shop {
    background: linear-gradient(to bottom,#C4C4C4, rgba(196,196,196,0));
    padding: 10px 80px;
    color:#E5E5E5;
}

.btn-shop:hover{
    color:#A49AC2;
}

.showcase-section{
    margin-top: 80px;
}
.showcase-header{
    color:#E5E5E5;
    font-family: 'Playball', cursive;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.products-container{
    padding: 0 20px;
    margin-top: 30px;
}
.card {
    height: 300px !important;
    width: 90%;
    margin-bottom: 30px;
}

.card-body {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'montseratt';
    height:100px;
}

.card-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card-header p {
    margin-bottom: 0;
}