.products-container{
    padding: 0 20px;
}
.card {
    height: 300px !important;
    width: 90%;
    margin-bottom: 30px;
}

.card-body {
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'montseratt';
}

.card-body {
    height:100px;
}

.card-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card-header p {
    margin-bottom: 0;
}

.shop-header {
    color: #E5E5E5;
    margin: 10px 0px;
    text-align:center;
    font-family: 'Playball', cursive;
}



.orders-container, .order-summary-container{
    background-color: #212d49;
    text-align:center;
    justify-content: center;
    padding: 20px 0px;
    width:95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.order-summary-container{
    margin: 1rem 0;
}

.cart-header {
    color:#E5E5E5;
    font-family:'Playball','cursive';
}

.order-information-container{
    display:flex;
    justify-content:space-between;
    color: white;
    padding: 0 50px;
}

.order-summary {
    text-align: left;
}
.table {
    width: 95%;
    background-color:white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    margin: 0;

}

.thead {
    background: #0E131F;
    color:white;
    font-weight: 700;
}

.table td, .table th {
    vertical-align: middle !important;
}

.table th {
    width:10%;
}
.product-image{
    height:100px;
}

.bold-td {
    font-weight: 900;
    display:flex;
    justify-content:center;
    align-items: center;
    height:126px;
}

.table-cta{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
}

button.quantity-btn{
    height: 20px;
    align-items: center;
    vertical-align: middle;
    line-height: 10px;
    border: solid 1px #0e131f;
    margin-bottom: 2px;
}

.shipping-address-container{
    background:#212d49;
    height: 50vh;
    width:95vw;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 15px;
    border-radius: 10px;
    padding: 20px 25px;
    color:#E5E5E5;
}

.shipping-address-container textarea {
    resize:none;
    margin-top: 20px;
}