{% extends 'core/base.html' %}

{% block head_block %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/shop.css'%}">
{% endblock %}

{% block body_block %}

<div class="order-summary-container">
  <h2 class="cart-header">{{user.first_name|title}}'s Cart</h2>
  <div class="order-information-container">
    <div class="order-summary">
      <p><strong>Number of items: </strong>{{order.get_number_of_items}}</p>
      <p><strong>Cart Total: </strong>${{order.get_items_total}}</p>
    </div>
    {% if items %}
    <div class="checkout-container">
      <a href="{% url 'orders:checkout1' %}" class="checkout-btn btn btn-primary">Checkout</a>
    </div>
    {% endif %}
  </div>
</div>

<div class="orders-container">
  <table class="table table-stripe">
    <thead class="thead"> 
      <tr>
        <th scope="col"></th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
      <tr>
        <th scope="row">
          <img class="product-image" src="/media/{{item.product.product_image}}" alt="{{item.product.name}}">
        </th>
        <td>${{item.product.name}}</td>
        <td>${{item.product.price}}</td>
        <td class="bold-td">{{item.quantity}}
          <div class="table-cta">
            
            <button data-action="add" data-product="{{item.product.id}}" class="quantity-btn">+</button>
            <button data-action="remove" data-product="{{item.product.id}}" class="quantity-btn">-</button> 
          </div>
        </td>
        <td>${{item.get_total}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}