{% extends 'core/base.html' %}

{% block head_block %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/shop.css'%}">
{% endblock %}

{% block body_block %}
    <div class="product-preview">
        {% for item in items %}
        <div class="product">
            <div class="description">
              <h3>{{item.product.name}}</h3>
              <h5>Quantity: {{item.quantity}}</h5>
              <h5>Total: {{item.get_total}}</h5>
            </div>
          </div>
        {% endfor %}
    </div>

    <button type="button" id="checkout-button">Checkout</button>





    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51IRtxwJsbq3BQBjq40C8FDiCgVqz6K3MVXOwEVzh02X26XjXvbCNFAYJxoUyrz0JKFg0jQhR8is7dFBk7rNOKebe00uDM5oL7z");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
          fetch("{% url 'orders:charge'%}", {
            method: "POST",
            headers: {
                "Content-Type":"application/json",
                'X-CSRFToken': csrftoken
            }
          })
            .then(function (response) {
              return response.json();
            })
            .then(function (session) {
              return stripe.redirectToCheckout({ sessionId: session.id });
            })
            .then(function (result) {
              // If redirectToCheckout fails due to a browser or network
              // error, you should display the localized error message to your
              // customer using error.message.
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
              console.error("Error:", error);
            });
        });
      </script>

{% endblock %}