{% extends 'core/base.html' %}

{% block head_block %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/shop.css'%}">
{% endblock %}

{% block body_block %}

<h2 class="shop-header">Riffle Shop</h2>
<p>{{ MEDIA_URL }}</p>
<div class="products-container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header">
                <strong>{{product.name}}</strong>
                <p>${{product.price}}</p>
              </div>
            <div class="card-body"
            style="background-image: url('/media/{{ product.product_image }}')"
            >

            </div>
            <div class="card-footer text-muted">
                <btn class="btn btn-primary addtocart-btn">Add to cart</btn>
                <a href="{% url 'products:detail' pk=product.id %}" class="btn btn-secondary">View</a>
              </div>
          </div>
        </div>
        {% endfor %}
        </div>
</div>

{% endblock %}